 Pandas

In [1]:
import pandas as pd

In [2]:
pd.read_csv('dados/aluguel.csv', sep = ';')

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [3]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [4]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [5]:
type(dados)

pandas.core.frame.DataFrame

In [6]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [7]:
dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [8]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipos de Dados'])

In [9]:
tipos_de_dados.columns.name = 'Variáveis'

In [10]:
dados.shape

(32960, 9)

In [11]:
dados.shape[0]

32960

In [12]:
dados.shape[1]

9

In [13]:
print('A base de dados apresenta {} registros (imóveis) e {} variáveis'.format(dados.shape[0], dados.shape[1]))

A base de dados apresenta 32960 registros (imóveis) e 9 variáveis

In [14]:
print('A base de dados apresenta {} registros (imóveis) e {} variáveis'.format(dados.shape[0], dados.shape[1]))

A base de dados apresenta 32960 registros (imóveis) e 9 variáveis

In [15]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [16]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

In [17]:
dados['Tipo']

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [18]:
dados.Tipo

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [19]:
tipo_de_imovel = dados['Tipo']

In [20]:
type(tipo_de_imovel)

pandas.core.series.Series

In [21]:
tipo_de_imovel

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [22]:
tipo_de_imovel.drop_duplicates(inplace = True)

In [23]:
tipo_de_imovel

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

In [24]:
tipo_de_imovel = pd.DataFrame(tipo_de_imovel)

In [25]:
tipo_de_imovel

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

In [26]:
tipo_de_imovel.index

Int64Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,
               83,   117,   159,   207,   347,   589,  2157,  3354,  4379,
             4721,  6983,  9687, 23614],
           dtype='int64')

In [27]:
tipo_de_imovel.shape[0]

22

In [28]:
range(tipo_de_imovel.shape[0])

range(0, 22)

In [29]:
for i in range(tipo_de_imovel.shape[0]):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [30]:
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])

In [ ]:
tipo_de_imovel.index

In [ ]:
tipo_de_imovel

In [ ]:
tipo_de_imovel.columns.name = 'Id'

In [ ]:
tipo_de_imovel

In [ ]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [ ]:
dados.head(10)

In [ ]:
list(dados['Tipo'].drop_duplicates())

In [ ]:
residencial = ['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa de Vila']

In [ ]:
residencial

In [ ]:
dados.head(10)

In [ ]:
selecao = dados['Tipo'].isin(residencial)
selecao

In [ ]:
dados_residencial = dados[selecao]

In [ ]:
dados_residencial

In [ ]:
list(dados_residencial['Tipo'].drop_duplicates())

In [ ]:
dados_residencial.shape[0]

In [ ]:
dados.shape[0]

In [ ]:
dados_residencial.index = range(dados_residencial.shape[0])

In [ ]:
dados_residencial

In [ ]:
dados_residencial.to_csv('dados/aluguel_residencial.csv', sep = ';')

In [ ]:
dados_residencial_2 = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')

In [ ]:
dados_residencial_2

In [ ]:
dados_residencial.to_csv('dados/aluguel_residencial.csv', sep = ';', index = False)

In [ ]:
dados_residencial_2 = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')

In [ ]:
dados_residencial_2

In [ ]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')

In [ ]:
dados.head(10)

In [ ]:
dados.isnull()

In [ ]:
dados.notnull()

In [ ]:
dados.info()

In [ ]:
dados[dados['Valor'].isnull()]

In [ ]:
A = dados.shape[0]
dados.dropna(subset = ['Valor'], inplace = True)
B = dados.shape[0]
A - B

In [ ]:
dados[dados['Valor'].isnull()]

In [ ]:
dados[dados['Condominio'].isnull()].shape[0]

In [ ]:
selecao = (dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull())

In [ ]:
A = dados.shape[0]
dados = dados[~selecao]
B = dados.shape[0]
A - B

In [ ]:
dados[dados['Condominio'].isnull()].shape[0]

In [ ]:
dados = dados.fillna({'Condominio': 0, 'IPTU': 0})

In [ ]:
dados[dados['Condominio'].isnull()].shape[0]

In [ ]:
dados[dados['IPTU'].isnull()].shape[0]

In [ ]:
dados.info()

In [ ]:
dados.to_csv('dados/aluguel_residencial.csv', sep = ';', index = False)

In [ ]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')

In [ ]:
dados.head(10)

In [ ]:
# Selecione somente os imóveis classificados com tipo 'Apartamento'
selecao = dados['Tipo'] == 'Apartamento'
n1 = dados[selecao].shape[0]
n1

In [ ]:
# Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
n2 = dados[selecao].shape[0]
n2

In [ ]:
# Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites
# 60 <= Area <= 100
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selecao].shape[0]
n3

In [ ]:
# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[selecao].shape[0]
n4

In [ ]:
print("Nº de imóveis classificados com tipo 'Apartamento' -> {}".format(n1))
print("Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' -> {}".format(n2))
print("Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> {}".format(n3))
print("Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> {}".format(n4))

Identificando e Removendo Outliers

In [ ]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')

In [ ]:
dados.boxplot(['Valor'])

In [ ]:
dados[dados['Valor'] >= 500000]

In [ ]:
valor = dados['Valor']

In [ ]:
Q1 = valor.quantile(.25)
Q3 = valor.quantile(.75)
IIQ = Q3 - Q1
limite_inferior = Q1 - 1.5 * IIQ
limite_superior = Q3 + 1.5 * IIQ

In [ ]:
selecao = (valor >= limite_inferior) & (valor <= limite_superior)
dados_new = dados[selecao]

In [ ]:
dados_new.boxplot(['Valor'])

In [ ]:
dados.hist(['Valor'])
dados_new.hist(['Valor'])

In [ ]:
dados.boxplot(['Valor'], by = ['Tipo'])

In [ ]:
grupo_tipo = dados.groupby('Tipo')['Valor']

In [ ]:
type(grupo_tipo)

In [ ]:
grupo_tipo.groups

In [ ]:
Q1 = grupo_tipo.quantile(.25)
Q3 = grupo_tipo.quantile(.75)
IIQ = Q3 - Q1
limite_inferior = Q1 - 1.5 * IIQ
limite_superior = Q3 + 1.5 * IIQ

In [ ]:
Q1

In [ ]:
Q3

In [ ]:
IIQ

In [ ]:
limite_inferior

In [ ]:
limite_superior

In [ ]:
limite_superior['Casa']

In [ ]:
dados_new = pd.DataFrame()
for tipo in grupo_tipo.groups.keys():
    eh_tipo = dados['Tipo'] == tipo
    eh_dentro_limite = (dados['Valor'] >= limite_inferior[tipo]) & (dados['Valor'] <= limite_superior[tipo])
    selecao = eh_tipo & eh_dentro_limite
    dados_selecao = dados[selecao]
    dados_new = pd.concat([dados_new, dados_selecao])

In [ ]:
dados_new.boxplot(['Valor'], by = ['Tipo'])

In [ ]:
dados_new.to_csv('dados/aluguel_residencial_sem_outliers.csv', sep = ';', index = False)

In [ ]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')

In [ ]:
dados.head(10)

In [ ]:
dados['Valor Bruto'] = dados['Valor'] + dados['Condominio'] + dados['IPTU']

In [ ]:
dados.head(10)

In [ ]:
dados['Valor m2'] = dados['Valor'] / dados['Area']

In [ ]:
dados.head(10)

In [ ]:
dados['Valor m2'] = dados['Valor m2'].round(2)

In [ ]:
dados.head(10)

In [ ]:
dados['Valor Bruto m2'] = (dados['Valor Bruto'] / dados['Area']).round(2)

In [ ]:
dados.head(10)

In [ ]:
casa = ['Casa', 'Casa de Condomínio', 'Casa de Vila']

In [ ]:
dados['Tipo Agregado'] = dados['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Apartamento')

In [ ]:
dados

In [ ]:
dados_aux = pd.DataFrame(dados[['Tipo Agregado', 'Valor m2', 'Valor Bruto', 'Valor Bruto m2']])

In [ ]:
dados_aux.head(10)

In [ ]:
del dados_aux['Valor Bruto']

In [ ]:
dados_aux.head(10)

In [ ]:
dados_aux.pop('Valor Bruto m2')

In [ ]:
dados_aux

In [ ]:
dados.drop(['Valor Bruto', 'Valor Bruto m2'], axis = 1, inplace = True)

In [ ]:
dados.head(10)

In [ ]:
dados.to_csv('dados/aluguel_residencial.csv', sep = ';', index = False)

In [ ]:
dados['Valor'].mean()

In [ ]:
bairros = ['Barra da Tijuca', 'Copacabana', 'Ipanema', 'Leblon', 'Botafogo', 'Flamengo', 'Tijuca']
selecao = dados['Bairro'].isin(bairros)
dados = dados[selecao]

In [ ]:
dados['Bairro'].drop_duplicates()

In [ ]:
grupo_bairro = dados.groupby('Bairro')

In [ ]:
type(grupo_bairro)

In [ ]:
grupo_bairro.groups

In [ ]:
for bairro, data in grupo_bairro:
    print('{} -> {}'.format(bairro, data.Valor.mean()))

In [ ]:
grupo_bairro[['Valor', 'Condominio']].mean().round(2)

In [ ]:
grupo_bairro['Valor'].describe().round(2)

In [ ]:
grupo_bairro['Valor'].aggregate(['min', 'max']).rename(columns = {'min': 'Mínimo', 'max': 'Máximo'})

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.rc('figure', figsize = (20, 10))

In [ ]:
fig = grupo_bairro['Valor'].mean().plot.bar(color = 'blue')
fig.set_ylabel('Valor do Aluguel')
fig.set_title('Valor Médio do Aluguel por Bairro', {'fontsize': 22})

In [ ]:
fig = grupo_bairro['Valor'].max().plot.bar(color = 'blue')
fig.set_ylabel('Valor do Aluguel')
fig.set_title('Valor Médio do Aluguel por Bairro', {'fontsize': 22})